/* GLOBAL */
:root {
    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);
    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --theme: hsl(0, 0%, 100%);

    --font-primary: "Montserrat", sans-serif;
    --font-accent: "Fraunces", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    background-color: var(--cream);
    font-size: 14px;
    font-family: var(--font-primary);
    font-weight: 500;
    color: var(--grey);
}

main {
    background-color: var(--theme);
    width: 90%;
    margin: auto;
    border-radius: 16px;
    overflow: hidden;
}

main>img {
    width: 100%;
}

.img-mobile {
    width: 100%;
}

.img-desktop {
    display: none;
}

.card-content {
    padding: 1.5rem;
}

.tag {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    margin-bottom: 1rem;
}

.card-content h1 {
    font-family: var(--font-accent);
    font-weight: 700;
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 1rem;
    line-height: 1;
}

.description {
    margin-bottom: 1rem;
    line-height: 1.5;
}

.price {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: var(--font-accent);
    font-size: 2rem;
    color: var(--green-500);
    font-weight: 700;
    margin-bottom: 1rem;
}

.price :nth-child(2) {
    font-size: 14px;
    font-weight: 500;
    color: var(--grey);
    text-decoration: line-through;
}

.card-content button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--theme);
    background-color: var(--green-500);
    font-weight: 700;
    padding: 0.75rem;
    border-radius: 8px;
    border: none;
    gap: 0.5rem;
}

.card-content button:hover {
    background-color: var(--green-700);
}

/* MEDIA QUERIES */
@media (min-width: 600px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 560px;
    }

    .img-mobile {
        display: none;
    }

    .img-desktop {
        display: block;
    }

    .card-content {
        display: grid;
        justify-content: space-evenly;
        padding: 2rem;
    }
}

/* FOOTER */
footer {
    font-size: 11px;
    text-align: center;
}

footer a {
    color: hsl(228, 45%, 44%);
}